<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>学習ページ</title>
    <link rel="icon" href="pic/favicon.ico">
    <link rel="stylesheet" href=style.css>
  </head>
  <header>
    <!-- <a href="#" onclick="window.history.back(); return false;">直前のページに戻る</a> -->
    <form method="get" name="a_form" action="/">
      <!-- <input name="deckId" type="hidden" value= <%= wordList %> /> -->
      <div class="button008">
        <a href="#" onclick="document.a_form.submit();">戻る</a>
      </div>
    </form>
  </header>
  <body class="font">
    <div class="box11">
      <div id="item">
        <% let question = wordList.pop() %>
        <p><%= question.deutsch %></p>
      </div>
    </div>
    <div>
      <button id="see_answer" style="display: block; margin-left:auto; margin-right:auto;">答えを見る</button>
      <div id="evals" style="display: none; text-align: center;">
        <button id="eval-1" class="eval">✕</button>
        <button id="eval0" class="eval">△</button>
        <button id="eval1" class="eval">○</button>
      </div>
    </div>
  <script src="answer.js"></script>

  <footer>
    <p class="text-center text-muted">© Copyright 2022 ut.code();</p>
  </footer>

  </body>
</html>