<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>問題に解答するページ</title>
    <link rel="stylesheet" href=style.css>
  </head>
  <body class="font">
    <div class="box11">
      <div id="item">
        <% let question = wordList.pop() %>
        <%= question.deutsch %>
      </div>  
    </div>
    <div>
      <button id="see_answer" style="display: block; margin-left:auto; margin-right:auto;">答えを見る</button>
      <div id="evals" style="display: none; text-align: center;">
        <button id="eval-1" class="eval">✕</button>
        <button id="eval0" class="eval">△</button>
        <button id="eval1" class="eval">○</button>
      </div>
  </div>
  <script src="answer.js"></script>
  </body>
</html>