<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>問題に解答するページ</title>
    <link rel="stylesheet" href=style.css>
  </head>
  <body>
    <div style="text-align:center">
      <div class="box11">
        <p>単語</p>
        <div id="item">
          nacht
        </div>  
      </div>
      <div></div><!-- 消さないで -->
    <div>
      <button id="see_answer" class="button" style="display: block">答えを見る</button>
      <div id="evals" style="display: none">
        <button id="eval-1" class="eval">✕</button>
        <button id="eval0" class="eval">△</button>
        <button id="eval1" class="eval">○</button>
      </div>
    </div>
  </div>
  <script src="answer.js"></script>
  </body>
</html>