<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
  </head>
  <body>
<div style="text-align:center">
    <p style="font-size: 30px;">ドイツ単語</p>
    <p style="font-size: 20px;">デッキ一覧</p>
    <form action="/practice">
      <button>名詞</button>
      <button>動詞</button>
      <button>形容詞</button>
      <button>副詞</button>
    </form>
</div>
  </body>
</html>