<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
    <link rel="stylesheet" href=style.css>
  </head>
  <body class="font">
    <div style="text-align:center">
      <h1 style="font-size: 30px;">ドイツ単語</h1>
      <img src="pic/castle.jpg" alt="城の画像" style="height:300px;">
      <p style="font-size: 20px;">デッキ一覧</p>
    </div>
    <% let i=0;
    for (const deck of deckList) { %>
      <div style="text-align:center">
        <%= deck.deckName %>
        <form method="post" action="/practice">
          <input name="deckId" type="hidden" value= <%= i %> />
          <div class="button008">
          <button><a>始める</a></button>
          </div>
        </form>
      </div>
    <% i++;
    } %>
  </body>
</html>