<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
  </head>
  <body>
    <div style="text-align:center">
      <p style="font-size: 30px;">ドイツ単語</p>
      <p style="font-size: 20px;">デッキ一覧</p>
    </div>
    <% let i=0;
    for (const deck of deckList) { %>
      <div style="text-align:center">
        <%= deck.deckName %>
        <form method="post" action="/practice">
          <input name="deckId" type="hidden" value= <%= i %> />
          <button class="button011">始める</button>
        </form>
      </div>
    <% i++;
    } %>
  </body>
</html>