<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>ホーム</title>
    <link rel="icon" href="pic/favicon.ico">
    <link rel="stylesheet" href=style.css>
  </head>

  <header>
    <p class="maru">?</p>

  </header>

  <body class="font">
    <div style="text-align:center">
      <h1 style="font-size: 30px;">ドイツ語 単語帳</h1>
      <img src="pic/castle.jpg" alt="城の画像" style="height:300px; box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);">
      <p style="font-size: 20px; border-bottom: 3px solid #5d627b;">デッキ一覧</p>
    </div>
    <% let i=0;
    for (const deck of deckList) { %>
      <div style="text-align:center;">
        <form method="post" name="a_form" action="/practice">
          <input name="deckId" type="hidden" value= <%= i %> />
          <div class="button008">
            <a href="#" onclick="document.a_form.submit();"><%= deck.deckName %> を学習する</a>
          </div>
        </form>
      </div>
    <% i++;
    } %>
  
  <blockquote>
    <%= todaysproverb %>
    <br>
    <%= todaysproverbTL %>
  </blockquote>
  <footer>
    <p class="text-center text-muted">© Copyright 2022 ut.code();</p>
  </footer>

  </body>
</html>