.box11{
    /* text-align: center; */
    width: 25em;
    height: 7em;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
}
.box11 p {
    margin: 0; 
    padding: 0;
}

.button008 a {
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #464646;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
}
.button008 a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #44495e;
    transition: .3s;
    left:0;
}

.button008 a:hover {
    color: #ffffff;
}
.button008 a:hover:before {
    width: 100%;
    z-index: -1;
}

.font {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    color: #5d627b;
    background-color: #ffffff;
}

#item{
    font-size:70px;
}

.eval{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
}

#see_answer{
    height: 50px;
    width: 100px;
    font-size:15px;
}
#eval-1{ 
    position: relative;right: 15px;bottom: 10px;
}

#eval-1:hover{
    background-color: #333c5e;
}

#eval1{
    font-size: 40px;
    position: relative;left: 15px;bottom: 2px;
}

#eval1:hover{
    background-color: #333c5e;
}

#eval0{
    position: relative;bottom: 9px;
    font-weight: bold;
}

#eval0:hover{
    background-color: #333c5e;
}

blockquote {
    position: relative;
    padding: 10px 15px 10px 50px;
    box-sizing: border-box;
    font-style: italic;
    border: solid 2px #464646;
    color: #464646;
}

blockquote:before{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    content: "“";
    font-family: sans-serif;
    color: #5d627b;
    font-size: 90px;
    line-height: 1;
}

blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

.maru {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #464646;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
}

.invisible {
    display: none;
}
    
a.clickToolTip {
    margin: 0;
    padding: 2px 6px;
    border-radius: 50%;
    -moz-border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #464646;
    font-size: 12px;
}

p.toolTip{
    margin: 0;
    padding: 10px;
    width: 250px;
    background-color: #000;
    opacity: 0.6;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    min-height: 30px;
    top: 100px;
    left: 20px;
    position: absolute;
}
