.box11{
    /* text-align: center; */
    width: 20em;
    height: 10em;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.box11 p {
    margin: 0; 
    padding: 0;
}

.button008 a {
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    z-index:0;
}
.button008 a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #5d627b;
    transition: .3s;
    left:0;
}

.button008 a:hover {
    color: #FFF;
}
.button008 a:hover:before {
    width: 100%;
    z-index: -1;
}

.font {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    color: #5d627b;
}

#item{
    font-size:70px;
}
